@charset 'utf-8';
/*dimmed*/

/*dimmed area*/
#dimmed{
    position: fixed;
    width:100%;
    height:100%;
    background:#222;
}

/*form*/
.form-row{display:flex;flex-wrap:wrap;position:relative;}
.form-col{flex:1;font-size:16px;line-height:40px;}
.form{position:relative;}
.form::after{content:"";display:block;position:absolute;left:0;bottom:0;width:0;height:1px;background:#222;}
.form::before{content:"";display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;background:#ccc;}

input[type="text"],
input[type="password"]{width:100%;padding:12px 20px;box-sizing:border-box;}
form input[type="checkbox"]{margin-right:8px;}
/* input[type="checkbox"]{
    width:24px;
    height:24px;
    border-radius:100%;
    border:2px solid #3c97f9;
    background:transparent;
    box-sizing:border-box;
} */


/* input[type="checkbox"]:checked + label {
	background-color: #666666;
} */
.form-check {position: relative;}
.form-check input[type="checkbox"] {
     /* 실제 체크박스는 화면에서 숨김 */
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip:rect(0,0,0,0);
     border: 0 ;
}
.form-check input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.form-check input[type="checkbox"] + label:before {
    /* 가짜 체크박스 */ 
    content: '\f00c';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size:12px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    color: #ccc;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05);
} 

.form-check input[type="checkbox"] + label:active:before,
.form-check input[type="checkbox"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px 1px 3px rgba(0,0,0,0.1);
}
.form-check input[type="checkbox"]:checked + label:before {
    /* 체크박스를 체크했을때 */
    /* content: '\f00c';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size:12px;
    text-decoration: inherit; */
     /* 체크표시 유니코드 사용 */
    color: #3c97f9;
    text-shadow: 1px 1px #fff;
    background: #fff;
    border-color: #3c97f9;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05),
    inset 15px 10px -12px rgba(255,255,255,0.1);
}

/* 
#3c97f9
*/



button{
    width:100%;
    display:block;
    line-height:40px;
    text-align:center;
    transition:0.5s;
    box-sizing:border-box;
}
button:hover{}

/*modal*/
.modal h2{font-size:32px;margin-bottom:20px;text-align: center;}
.modal-container{background:rgba(0, 0, 0, 0.8);}
.modal{background:#fff;}
#signupModal .modal{margin:0 auto; width:320px;}
#idModal.modal-container{position:fixed;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);}
#idModal .modal{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}


.modal-inner{
    padding:40px 10px;
    min-width:320px;
}
.modal-inner>h2 img{width:120px;}
.modal-inner input[type="text"],
.modal-inner input[type="password"]{border:1px solid #ccc;}



/*form-content*/
.form-check{
    font-size:12px;
    margin:24px 0 8px;
    color:#777;
}

.form-gender{display: flex; margin:10px 0;}
.form-gender>div:first-of-type{margin-right:10px;}
.form-login{text-align:right;margin-top:8px;}
.form-login>a{
    margin-left:8px;
    color:#777;
    font-size:12px;
}
.btn-login > button{background:#2e8bff;}
.btn-login > button:hover{background:#222;}
.form-wrap > p{
    font-size:12px;
    margin:24px 0 8px;
    text-align: center;
    color:#777;
}
.btn-social > button{
    position: relative;
    padding:0 0 0 42px;
}
.btn-social > button::before{
    position: absolute;
    left:0;
    top:0;
    content:'';
    display: block;
    width:42px;
    height:42px;
    background:Red;
}
.btn-social > button:first-of-type{
    border:1px solid #f7e600;
}
.btn-social > button:first-of-type::before{
    content: '\f075';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size:22px;
    text-decoration: inherit;
    background:#f7e600;
}
.btn-social > button:last-of-type{
    border:1px solid #2db400;
}
.btn-social > button:last-of-type::before{
    content: 'N';
    font-family:'Nanum Gothic';
    font-style: normal;
    font-weight: bold;
    font-size:22px;
    text-decoration: inherit;
    background:#2db400;
    color:#fff;
}
/* .btn-social > button:hover{background:#222;} */
.ad-question{
    margin-top:14px;
    font-size:12px;
}
.ad-question a{
    position: relative;
    display: block;
    color:#777;
}
.ad-question span{
    position: absolute;
    top:-4px;
    display: inline-block;
    font-size:12px;
    right:0;
    padding:3px 8px;
    color:#3c97f9;
    border:1px solid #3c97f9;
    border-radius:7px;
}



.ad-agreement{margin:40px 0;}
.ad-agreement>p{margin:12px 0;}
.ad-agreement>ul>li{margin:12px 0;}
.ad-agreement>ul>li>div:first-of-type{margin-bottom:8px;}