@charset "uft-8";
/* search-bar */
.so .container-inner {
  width: 90%;
  margin: 0 auto;
}
.so .container-inner h2,
.so .container-inner h3,
.so .container-inner h4,
.so .container-inner p,
.so .container-inner li {
  color: #3c3c3c;
}
.so .search-bar {
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #c0dcff;
  padding: 8px 20px;
}
.so input[id="searchBar"] {
  width: 85%;
  height: 54px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.so label[for="searchBar"] {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -1px;
  display: block;
  width: 15%;
  height: 70px;
  line-height: 70px;
  background-color: #c0dcff;
  text-align: center;
  border-radius: 0 16px 16px 0;
}
.so label[for="searchBar"] .fa-search {
  color: #fff;
  font-size: 20px;
}
/* notice */
.so .notice hr {
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #555555;
}
.so .notice-inner li {
  border-bottom: 1px solid #ccc;
}
.so .notice-inner li a {
  display: block;
  margin: 10px 0 10px 10px;
}
.so .notice-data {
  margin-top: 10px;
}
.so .notice-data span:last-child::before {
  content: " | ";
}
/* bbs-list */
.so .bbs-list-inner li {
  border-bottom: 1px solid #ccc;
}
.so .bbs-list-inner li a {
  display: block;
  position: relative;
  margin: 10px 0 10px 10px;
}
.so .bbs-list-inner li a em {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: bold;
}
.so .bbs-list-text {
  margin-left: 30px;
}
.so .bbs-list-data {
  margin-top: 10px;
}
.so .bbs-list-data span:last-child::before {
  content: " | ";
}
/* edit-btn */
.so .edit-btn {
  margin-top: 10px;
}
.so .edit-btn button {
  width: 0;
  height: 0;
  border: 0;
  line-height: 0;
  transition: 0;
}
.so .edit-btn::after {
  display: block;
  content: "";
  clear: both;
}
.so .edit-btn .inner {
  width: 150px;
  height: 50px;
  line-height: 50px;
  float: right;
  background: linear-gradient(90deg, #d161ff, #623ee8);
  border-radius: 25px;
}
.so .edit-btn .inner button {
  width: 144px;
  height: 44px;
  margin: 3px;
  line-height: 40px;
  border-radius: 25px;
  background: #fff;
}
.so .edit-btn .inner button:hover {
  color: #fff;
  background: transparent;
}

/* page */
.so .page {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.so .page ul li {
  display: inline-block;
}
.so .page ul li a {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}
.so .page ul li a:focus {
  color: #2e8bff;
  font-size: 18px;
}

@media screen and (min-width: 940px) {
  .so .bbs-qna .inner::after {
    display: block;
    content: "";
    clear: both;
  }
  .so .bbs-qna .inner h2 {
    padding-bottom: 10px;
  }
  .so .search-bar {
    float: right;
    width: 500px;
    margin-bottom: 20px;
    padding: 5px 20px;
  }

  .so input[id="searchBar"] {
    height: 40px;
  }
  .so label[for="searchBar"] {
    height: 50px;
    line-height: 50px;
  }
  /* notice-inner */
  .so .notice-inner a::after {
    display: block;
    clear: both;
    content: "";
  }
  .so .notice-inner p {
    float: left;
    width: 70%;
  }
  .so .notice-inner .notice-data {
    float: right;
    text-align: center;
    padding-right: 10px;
    width: 30%;
  }
  .so .notice-data {
    margin-top: 0;
  }
  /* bbs-list */
  .so .bbs-list-text::after {
    display: block;
    clear: both;
    content: "";
  }
  .so .bbs-list-text p {
    float: left;
    width: 70%;
  }
  .so .bbs-list-text .bbs-list-data {
    float: right;
    text-align: center;
    padding-right: 10px;
    width: 30%;
  }
  .so .bbs-list-data {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .so .container-inner {
    width: 1200px;
  }
}
