@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

/*devide css file*/
@import url("header.css");
@import url("container.css");
@import url("footer.css");
@import url("dimmed.css");


/*common*/
a{text-decoration:none; color:#000;}
body{
    font:400 16px/1.37 'Roboto Condensed','Noto Sans KR','Nanum Gothic', sans-serif;
    letter-spacing:1.012px;
}
input[type="text"]{font-size:16px;}
h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:28px;}
em{font-size:14px;}

