@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

/*common*/
a{text-decoration:none; color:#000;}
body{
    font:400 16px/1.37 'Roboto Condensed','Nanum Gothic', sans-serif;
    letter-spacing:1.012px;
    /* letter-spacing:-0.892px; */

}
input[type="text"]{font-size:16px;}
h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:28px;}

em{font-size:14px;}

.pc #btnOpen{
    display: none;
}
.pc #btnClose{
    display: none;
}
.pc #dimmed{
    display: none;
}





header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#ccc;
    /* z-index:90; */
}
.header-inner{
    background:#fff;
    width:100%;
    height:60px;
    position: relative;
    z-index:20;
    box-sizing:border-box;
    border-bottom:1px solid #ccc;
}
#logo{
    position: absolute;
    left:0;
    top:0;
}
#logo a{
    display: block;
    width:100px;
    height:60px;
    padding:0 5px;
}

#searchBox{
    /* height:100%; */
}
#searchBox a{
    position: absolute;
    right:60px;
    background:green;
}
#searchBox a span{
    display: block;
    width:60px;
    height:60px;
    text-align: center;
    line-height:60px;
    color:#2e8cff;
}
#searchInput{
    position: absolute;
    z-index:10;
    right:0;
    top:0;
    background:#fff;
    /* top:60px; */
    width:100%;
    height:60px;
    opacity:0;
    transition:all 0.3s ease-out;
}

#searchInput.on{
    opacity:1;
    top:60px;
}
#searchInput label{
    position: absolute;
    top:0;
    left:0;
}
#searchInput input[type="text"]{
    background:#fff;
    width:100%;
    height:60px;
    padding:0 20px;
    border:2px solid #2e8cff;
}

#btnOpen{
    position: absolute;
    z-index:20;
    display: block;
    width:60px;
    height:60px;
    top:0;
    right:0;
    background:yellow;
    text-align: center;
    line-height:60px;
    font-size:24px;
    color:#2e8cff;
}

#dimmed{
    z-index:20;
    position: fixed;
    width:100%;
    height:100%;
    background:#222;
}
#btnClose{
    z-index:30;
    position: absolute;
    display: block;
    left:20px;
    top:20px;
    font-size:22px;
    color:#fff;
}

#searchBox label{
    position: absolute;
    top:0;
    right:0;
    background:#ccc;
}
#searchBox label span{
    display: block;
    width:80px;
    height:80px;
    padding:10px;
    text-align: center;
    line-height:60px;
    font-size:22px;
}
/* #searchBox input[type="text"]{
    width:320px;
}
*/
nav{
    z-index:30;
    position:absolute;
    width:100%;
    height:100vh;

}
.menu-wrapper{}
/* #gnb{
    position: absolute;
    right:0;
    width:80%;
    background:green;
}
#gnb>ul{
    padding:20px 0;
}
#gnb>ul>li{
    padding:10px 0;
    background:yellow;
}
#gnb>ul>li>a{
    font-size:22px;
    font-weight:bold;
}
#gnb .open-menu{
    background: steelblue;
    display: none;
}

#rnb{
    z-index:30;
    position:absolute;
    right:0;
    bottom:0;
    width:80%;
    background:green;
} */





#gnb .active .open-menu{
    /* display: block; */
    /* max-height:500px;
    transition:max-height 1.25s ease-in; */
    /* padding-top:10px; */
    /* background:orange; */
}
#gnb .open-menu>li{
    line-height:30px;
}
#gnb .open-menu>li>a{
    /* display: block; */
    /* background:blue; */
}

#container{
    margin-top:60px;
    background:#ccc;
}


/* tablet */
@media screen and (min-width: 940px) {

    .header-inner{
        height:80px;
    }
    #logo a{
        display: block;
        width:auto;
        height:80px;
        padding:0 20px;
        line-height:80px;
        font-size:44px;
    }

    /* gnb */
    /* #gnb{
        z-index:30;
        position:absolute;
        right:20px;
        width:auto;
        height:auto;
        background:orange;
    }
    #gnb>ul{
        padding:0;
    }
    #gnb>ul::after{
        display: block;
        content:'';
        clear:both;
    }
    #gnb>ul>li{
        padding:0;
        float:left;
        background:yellow;
    }
    #gnb>ul>li>a{
        font-size:24px;
        line-height:80px;
        font-weight:bold;
        padding:0 20px;
    } */

    #container{
        margin-top:80px;
    }
}
