@charset "utf-8";
/* visual  */
.so .container-inner h2,
.so .container-inner h3,
.so .container-inner h4,
.so .container-inner p,
.so .container-inner li {
  color: #3c3c3c;
}
.so .visual {
  height: 300px;
  background-image: url("../img/sub/season_bg.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
/* recommed */
/* reco-swiper */
.so .reco-slide {
  border-radius: 25px;
  overflow: hidden;
}
.so .reco-slide .swiper-wrapper .swiper-slide {
  position: relative;
  width: 80%;
  margin: 0 0 0 5%;
}
.so .reco-slide .swiper-slide .inner {
  height: 440px;
  background-image: url("../img/sub/slider/reco_slider_1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 25px;
}
.so .reco-slide .swiper-slide .top {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    rgba(38, 38, 38, 0.5) 15%,
    rgba(115, 115, 115, 0.3) 70%,
    rgba(160, 160, 160, 0.2) 100%
  );
  border-radius: 25px 25px 0 0;
  text-align: right;
}

.so .swiper-slide .top .fa-map-pin {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  transform: translate(-15px, -3px) rotate(35deg);
}
.so .swiper-slide .top .fa-map-pin:hover {
  color: #2e8bff;
}
.so .swiper-slide .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    -360deg,
    rgba(38, 38, 38, 1) 15%,
    rgba(115, 115, 115, 0.7) 90%,
    rgba(160, 160, 160, 0.2) 100%
  );
  border-radius: 0 0 25px 25px;
}

.so .swiper-slide .bottom::after {
  content: "";
  display: block;
  clear: both;
}
.so .swiper-slide .bottom h3 {
  padding: 15px 0 0 10px;
  font-size: 24px;
  color: #fff;
}
.so .swiper-slide .bottom h4 {
  padding: 10px 0 0 10px;
  color: #ebebeb;
  font-size: 16px;
}
.so .swiper-slide .bottom .profile-img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 10px;
  border-radius: 50%;
  background: #000;
}

.so .swiper-slide .bottom .chat {
  float: left;
  margin: 10px 0 0 0;
  font-size: 14px;
}
.so .swiper-slide .bottom .chat p {
  color: #fff;
}
.so .swiper-slide .bottom .chat span {
  margin-left: 5px;
}
.so .swiper-slide .bottom a {
  position: absolute;
  right: 0;
  top: 5px;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 30px;
}
.so .swiper-slide .bottom a .fa-star:hover {
  color: #f2d91f;
}
/* travel-menu  */
.so .travel-menu {
  margin: 150px 0 0 0;
}
.so .travel-menu .swiper-slide {
  text-align: center;
}
.so .travel-menu .swiper-slide a {
  font-size: 32px;
  font-weight: bold;
  color: #3c3c3c;
  padding: 10px;
}
.so .travel-menu .swiper-slide a:hover {
  color: #2e8bff;
}
/* travel-list  */
.so .travel-list ul > li {
  width: 90%;
  margin: 0 auto;
}
.so .travel-list ul > li .travel-img {
  width: 100%;
  height: 200px;
  background: #ccc;
  background-image: url("../img/sub/slider/reco_slider_1.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.so .travel-list ul li ol li {
  font-size: 16px;
  line-height: 26px;
}
.so .travel-list ul li ol li:nth-child(1) {
  font-size: 18px;
}
.so .travel-list hr {
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #b5b5b5;
}
/* edit-btn */
.so .edit-btn {
  margin-top: 10px;
}
.so .edit-btn button {
  width: 0;
  height: 0;
  border: 0;
  line-height: 0;
  transition: 0;
}
.so .edit-btn::after {
  display: block;
  content: "";
  clear: both;
}
.so .edit-btn .inner {
  width: 150px;
  height: 50px;
  line-height: 50px;
  float: right;
  background: linear-gradient(90deg, #d161ff, #623ee8);
  border-radius: 25px;
}
.so .edit-btn .inner button {
  width: 144px;
  height: 44px;
  margin: 3px;
  line-height: 40px;
  border-radius: 25px;
  background: #fff;
}
.so .edit-btn .inner button:hover {
  color: #fff;
  background: transparent;
}

/* page */
.so .page {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.so .page ul li {
  display: inline-block;
}
.so .page ul li a {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}
.so .page ul li a:focus {
  color: #2e8bff;
  font-size: 18px;
}

@media screen and (min-width: 940px) {
  .so .visual {
    height: 440px;
    background-image: url("../img/sub/season_bg_pc2.JPG");
  }
  .so .reco-slide .swiper-wrapper .swiper-slide {
    width: 40%;
  }
  .so .travel-menu .swiper-slide a {
    padding: 10px 20px;
  }
  .so .travel-list ul > li {
    width: 100%;
    margin: 2.5% 0;
  }
  .so .travel-list ul > li ::after {
    content: "";
    display: block;
    clear: both;
  }
  .so .travel-list ul > li .travel-img {
    float: left;
    width: 25%;
    margin: 0 2.5% 2.5% 0;
  }
  .so .travel-list ul > li .travel-img > a {
    width: 100%;
  }
  .so .travel-list ul li ol {
    float: left;
    width: 70%;
    margin: 0;
  }
  .so .travel-list ul li ol li:nth-child(1) {
    margin: 0 0 25px 0;
  }
}
@media screen and (min-width: 1200px) {
  .so .reco-slide .swiper-wrapper .swiper-slide {
    width: 33%;
  }
  .so .travel-menu .swiper-slide a {
    padding: 10px 30px;
  }
}
