@charset 'utf-8';


/* btn */
button{
    padding:0 40px;
    line-height:40px;
    text-align:center;
    transition:0.5s;
    box-sizing:border-box;
}
.btn-basic > button{
    background:#2e8bff;
    color:#fff;
}

/* sub-page-button */
.btn-sub-wrapper::after{
    display: block;
    content:'';
    clear:both;
}
.btn-sub-wrapper{
    /* text-align: right; */
    margin:40px 0 60px;
}
.btn-sub-wrapper>div{
    float: right;
    display:inline-block;
    margin-left:4px;
}

.btn-sub-wrapper>div.fl{
    float: left;
    marginleft:0;
}
/* btn-sub-wrapper.w100 */
.btn-sub-wrapper.w100{
    text-align: right;
    margin:0;
}
.btn-sub-wrapper.w100>div{
    display: block;
    margin-left:0;
}
.btn-sub-wrapper.w100>div button{
    width:100%;
}

/* modal-button */
.modal button{
    line-height:50px;
}

/* form-list-button */
.form-row.btn input[type="text"]{
    padding:0 80px 0 10px;
    border:1px solid transparent;
    border-bottom:1px solid #ccc;
}
.form-list .btn-search-wrapper{

}







/* pagination */
.pagination-wrapper {
    text-align: center;
    margin:80px 0 120px;
}
.pagination-wrapper .pagination{
    display: inline-block;
}
.pagination::after{
    display: block;
    content:'';
    clear:both;
}
.pagination>a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination>a.active {
    background-color: #2e8bff;
    color: white;
}


/* bbs-list */
.bbs-list{}

/* bbs-list basic */
.bbs-list table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 5px;
    background: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.bbs-list tbody{}
.bbs-list thead {}
.bbs-list thead th {
    padding: 20px 0;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #ececec;
    height: 40px;
}
.bbs-list td {
    background:#fbfbfb;
    color: #666;
    padding: 10px 5px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    line-height: 1.4em;
    height: 60px;
    word-break: break-all;
}

/* bbs-list button */
.bbs-list .important{
    display: inline-block;
    background:#2e8bff;
    color:#fff;
    padding:2px 5px 3px;
    margin:0 2px;
}
.bbs-list .fa-lock {
    display: inline-block;
    line-height: 14px;
    width: 16px;
    font-size: 0.833em;
    color: #4f818c;
    background: #cbe3e8;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid #cbe3e8;
    vertical-align: middle;
}
.bbs-list td.td_num2{
    text-align: center;
}
.bbs-list .td_name {
    text-align: left;
    padding: 10px 0;
}
.bbs-list .td_num {
    text-align: center;
}
.bbs-list .td_name_use {
    text-align: center;
}
.bbs-list .td_datetime {
    text-align: center;
}

.bo-v-info::after{
    display: block;
    content:'';
    clear:both;
}
.bo-v-info {
    border-bottom:1px solid #ccc;
    margin-bottom:12px;
}

/* bo-v-con */
.bo-v-atc{
    min-height:200px;
    height:auto;
}
.bo-v-con{
    margin:20px 0;
}
.bo-v-con .inner{
    font-size:12px;
    line-height:18px;
    padding:0;
    word-break:break-all;
}
/* img 삽입 시 */
.bo-v-atc .bo-v-img a{
    display: block;
}

.profile-list{
    float: left;
    margin:20px 0 10px;
}
.profile-list .pf-img{
    margin-right:10px;
}
.profile-list .pf-img img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.profile-info{
    float: left;
    margin:20px 0 10px;
    padding:5px 0;
}

.profile-info span{
    display: inline-block;
    margin:0 10px 0 0;
    font-weight:400;
    font-size:12px;
    color:#888;
}

.profile-info span.member{
    display: block;
    font-weight:700;
    color:#000;
}