@charset 'utf-8';
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap");

/*devide css file*/
@import url("all.css");
@import url("content.css");
@import url("layout.css");
@import url("modal.css");
@import url("container.css");

/*common*/
a {
    text-decoration: none;
    color: #222;
  }
body {
    font: 400 16px/1.37 "Roboto Condensed", "Noto Sans KR", "Nanum Gothic",sans-serif;
    letter-spacing: 1.012px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(46, 139, 255,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(46, 139, 255);
  border-radius: 10px;
}

/* .not-pd{
  padding:0 !important;
} */
/*

임시 
css 통합 후 삭제 될 영역입니다.
유의해 주세요


*/
h1{
  font-size:40px;

}
h2{
  font-size:34px;
  padding:45px 0 12px;
}
h3{
  font-size:28px;
  padding:45px 0 20px;
}

.fr{float:right}
.fl{float:left;}

.container-inner{
  padding:0 20px;
}

.container-inner.npd{
  padding:0;
}

@media screen and (min-width: 940px) {
  
  .container-inner{
    padding:0;
  }
  
}

