@charset "utf-8";
#container {
}
.container-inner {
  background-color: transparent;
}
.visual {
  /* 스타일링을 위해 임의지정 추후삭제 */
  width: 100%;
  height: 600px;
  /* 스타일링을 위해 임의지정 추후삭제 */
  background-image: url(../img/paragliding-4823764_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* recommed */
.recommed h2 {
  color: #3c3c3c;
}

/* reco-swiper스타일링 */
.reco-slide .swiper-wrapper .swiper-slide {
  position: relative;
  width: 80%;
  margin: 0 0 0 5%;
}
.swiper-slide button {
  border: 0;
}
/* 핀스타일링 */
.swiper-slide .pin {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: rgba(85, 85, 85, 0.5);
  border-radius: 25px 25px 0 0;
}
.pin .fa-map-pin {
  position: absolute;
  top: 6px;
  right: 30px;
  transform: rotate(30deg);
  text-align: right;
  font-size: 30px;
  border: 0;
  color: #fff;
}
.pin .fa-map-pin:hover {
  color: #2e8bff;
}
.swiper-slide img {
  width: 100%;
  /* 스타일링을 위해 강제로 높이값을 잡음 (사진의 크기가 너무다름) */
  height: 350px;
  border-radius: 25px;
}
.swiper-slide .reco-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  background: rgba(85, 85, 85, 0.8);
  border-radius: 0 0 25px 25px;
}
.swiper-slide .reco-info::after {
  content: "";
  display: block;
  clear: both;
}
.swiper-slide .reco-info > h3 {
  padding: 0;
  margin: 15px 0 0 10px;
  font-size: 18px;
  color: #fff;
}
.swiper-slide .reco-info > h4 {
  margin: 5px 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.swiper-slide .reco-info img {
  display: block;
  float: left;
  /* 스타일링을 위해 강제로 크기설정*/
  width: 40px;
  height: 40px;
  margin: 6px 10px 0 10px;
  overflow: hidden;
  border-radius: 50%;
}
.swiper-slide .reco-info .reco-chat {
  float: left;
  margin: 6px 0 0 0;
  font-size: 14px;
}
.swiper-slide .reco-info .reco-chat span {
  margin: 0 0 0 10px;
}
.swiper-slide .reco-info .fa-star {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
}
.swiper-slide .reco-info .fa-star:hover {
  color: #f2d91f;
}
/* travel-menu  */
.travel-menu {
  margin: 150px 0 0 0;
}
.travel-menu .swiper-slide {
  text-align: center;
}
.travel-menu .swiper-slide a {
  font-size: 32px;
  font-weight: bold;
  color: #3c3c3c;
  padding: 10px;
}

.travel-list ul {
  margin: 50px 0 0 15px;
}
.travel-list ul > li {
  width: 80%;
  margin: 2.5% 10%;
}
.travel-list ul > li .travel-img > a {
  width: 80%;
}
.travel-list ul li .travel-img > a img {
  width: 100%;
}
.travel-list ul li ol {
  margin: 25px 0 0 0;
}
.travel-list ul li ol li {
  font-size: 16px;
  margin: 0 0 15px 0;
  line-height: 26px;
}
.travel-list ul li ol li:nth-child(1) {
  margin: 0 0 25px 0;
  font-size: 18px;
}
.travel-list hr {
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #b5b5b5;
}
.page {
  text-align: center;
}

.page ul li {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

.page ul li a:focus {
  color: #2e8bff;
  font-size: 18px;
}

.edit-btn button {
  width: 0;
  height: 0;
  border: 0;
  line-height: 0;
  transition: 0;
}
.edit-btn button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 40px;
  background: linear-gradient(90deg, #d161ff, #623ee8);
  border-radius: 50%;
  z-index: 10;
}

.edit-btn .fa-edit {
  position: fixed;
  right: 35px;
  bottom: 42px;
  font-size: 40px;
  color: #fff;
  z-index: 10;
}

@media screen and (min-width: 940px) {
  .reco-slide .swiper-wrapper .swiper-slide {
    width: 40%;
  }
  .travel-menu .swiper-slide a {
    padding: 10px 20px;
  }
  .travel-list ul > li {
    width: 100%;
    margin: 2.5% 0;
  }
  .travel-list ul > li ::after {
    content: "";
    display: block;
    clear: both;
  }
  .travel-list ul > li .travel-img {
    float: left;
    width: 25%;
    margin: 0 2.5% 2.5% 0;
  }
  .travel-list ul > li .travel-img > a {
    width: 100%;
  }
  .travel-list ul > li .travel-img > a > img {
    height: 200px;
  }
  .travel-list ul li ol {
    float: left;
    width: 70%;
    margin: 0;
  }
  .travel-list ul li ol li:nth-child(1) {
    margin: 0 0 25px 0;
  }
}
@media screen and (min-width: 1200px) {
  .reco-slide .swiper-wrapper .swiper-slide {
    width: 30%;
  }
  .travel-menu .swiper-slide a {
    padding: 10px 30px;
  }
}
