@charset "utf-8";
/* input타입 숨기기 */
.tab-menu {
  width: 750px;
  margin: 0 auto;
}
.tab-menu::after {
  content: "";
  display: block;
  clear: both;
}
.tab-menu input[type="radio"] {
  display: none;
}
/* label (tab) 스타일 */
.tab-menu input[type="radio"] + label {
  float: left;
  width: 150px;
  height: 80px;
  background: #7fbafd;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  color: #282828;
  cursor: pointer;
}
.tab-menu input[type="radio"]:checked + label {
  color: #fff;
  background: #1f6af7;
}
.tab-menu .tab {
  display: none;
  width: 100%;
  height: 500px;
  font-size: 75px;
  text-align: center;
  line-height: 400px;
  background-color: #ccc;
}
/* 체크가 되면 형제컨텐츠가 보이게 설정 */
.tab-menu input[id="tab1"]:checked ~ .menu1 {
  display: block;
}
.tab-menu input[id="tab2"]:checked ~ .menu2 {
  display: block;
}
.tab-menu input[id="tab3"]:checked ~ .menu3 {
  display: block;
}
.tab-menu input[id="tab4"]:checked ~ .menu4 {
  display: block;
}
.tab-menu input[id="tab5"]:checked ~ .menu5 {
  display: block;
}
